<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    
    <style> 
        * { margin: 0; padding: 0; }

        body {
            display: flex;
            min-height: 100vh;
            justify-content: space-evenly;
            align-items: center;
        }
    </style>
</head>
<body>
<table>     
    <tr>
        <td> 
            {% for produtos, preco in Tabela %}            
            <a href="/prod/{{loop.index0}}">
            {{produtos}}
        </td>
    </tr></a>
    {% endfor %}
</table>
</body>
</html>